body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #ffbc00, #ff0067);
    text-align: center;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: rgba(223, 13, 95, 0.41);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#predictionResult {
    background-color: rgba(255, 188, 0, 0.42);
    color: #e06e0d;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}